<h1>Tasks for <%= @project.name %> </h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Due Date</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>